/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    display: block;
    margin: 0 0;
    max-width: 64em;
    background-color: #f4f2ec;
}

/*------- Header en Nav ------*/

header img {
    max-width: 100vw;
    margin: 0;
}

button {
    background-color: #197b9f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 1em;
    min-width: 100%;
    padding: 0.1em;
}

/*---- voor animatie nav ----*/

header nav {
    background: #166988;
}

nav.togglenav {
    display: none;
}

/*------ Nav styling ----*/

header nav ul {
    text-align: center;
    list-style: none;
    margin-top: 0;
}

header nav a{
    box-sizing: border-box;
    align-content: center;
    
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 200;
    line-height: 2.8em;
    text-transform: uppercase;
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}

header nav a:focus {
    color: white;
    text-decoration: underline;
    background-color: #197b9f;
}

header nav a:hover {
    color: white;
    text-decoration: underline;
    background-color: #197b9f;
}

header nav a img {
    max-width: 10%;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
}

header nav li:last-of-type a{
    line-height: 6em;
}

header nav ul:last-of-type {
    margin-top: -0.5em;
}

header nav ul:last-of-type li{
    display: inline;
}

/*------ Feautured Articles ------*/

article a {
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
    color: white;
}

article img {
    max-width: 100vw;
    margin-bottom: 0;
}

.homepage-featured article h3 {
    display: block;
    margin-top: -0.4em;
    margin-bottom: 1.5em;
    text-align: center;
    padding: 0.6em;
    font-size: 1.1em;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: #197b9f;
}

/*------ Feautured Recipes ------*/

.feautured-recipes header {
    margin: auto;
    margin-bottom: 2em;
    max-width: 80vw;
    background-color: white;
    border: #c73d67 2px solid;
    padding: 3px;
}

.feautured-recipes header h3{
    display: block;
    padding: 0.7em;
    margin: 0;
    text-align: center;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    background: #c73d67;
}



/*------ Articles slider ------*/

.article-container {
    display: block;
    box-sizing: border-box;
    align-content: center;
    
    margin: auto;
    overflow: hidden;
    max-width: 23em;
    max-height: 23em;
    
    position: relative;
}


.recipes-styling img:first-of-type:hover {
    transform: scale(1.10);
    transition: 0.5s;
}


.recipes-styling img:last-of-type {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: 0.2em solid white;
  border-radius: 50%;
  width: 4em;
}

.recipes-styling div:nth-of-type(2) {
    position: relative;
    left: 5.4em;
    bottom: 3em;
    max-width: 20em;
}

.recipes-styling h3 {
    align-content: center;
    margin: 0;
    padding: 1em 0 2em 0;
    max-width: 23em;
    
    background: white;
    color: #197b9f;
    text-align: center;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    text-transform: uppercase;
}



/*-----------RECEPTEN PAGINA--------------*/

/*-----------BANNER--------------*/
#recepten-page article {
    position: relative;
}

#recepten-page img{
    display:block;
    width: 100vw;
    height: auto;
}

div.page-banner {
    position: absolute;
    left: 9vw;
    bottom: -2em;
    background-color: #fff;
    padding: 3px;
    border: 2px solid #c73d67;
    width: 83vw;
}

div.page-banner h1 {
    display: block;
    margin: auto;
    padding: 10px;
    width: 80vw;
    background-color: #c73d67;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300; 
    font-size: 1em;
}


/*-----------INTRO--------------*/

div.recipe-introduction {
    margin-top: 4em;
    position: relative;
    padding-bottom: 5em;
    border-bottom: 1px solid #d3d2cb;
}

div.recipe-introduction img {
    position: absolute;
    left: 30%;
    max-width: 15%;
    border-radius: 50%;
    border: 2px solid #fff;
}

div.recipe-introduction h5 {
    position: absolute;
    left: 50%;
    top: 0.5em;
    margin: 0;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300; 
    font-size: 0.9em;
    color: #197b9f;
}

div.recipe-introduction p {
    position: absolute;
    left: 50%;
    top: 2em;
    margin: 0;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300; 
    font-size: 0.9em;
    color: #4a4a4a;
}

#recepten-page article {
    position: relative;
}

#recepten-page article p:first-of-type {
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300; 
    font-size: 0.9em;
    color: #4a4a4a;
    margin: 2em 1em 3em 1em;
}

#recepten-page article span p:first-of-type{
    margin: 0;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 500; 
    font-size: 0.9em;
    color: #4a4a4a;
}

#recepten-page article span p:nth-of-type(2){
    margin: 0;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300; 
    font-size: 0.9em;
    color: #c73d67;
}

#recepten-page article span:first-of-type {
    position: absolute;
    left: 3em;
}

#recepten-page article span:nth-of-type(2) {
    position: absolute;
    left: 15em;
}

#recepten-page article span:nth-of-type(3) {
    position: absolute;
    left: 3em;
    top: 10em;
    max-width: 10em;
}

#recepten-page article span:nth-of-type(4) {
    position: absolute;
    left: 15em;
    top: 10em;
}