/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    display: block;
    margin: 0 0;
    max-width: 64em;
    background-color: #f4f2ec;
}

article {
    
}

article img {
    max-width: 100vw;
    margin-bottom: 0;
}

#homepage-featured article h3 {
    display: block;
    margin-top: -0.3em;
    margin-bottom: 1.5em;
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: #197b9f;
}


#feautured-recipes header h3{
    display: block;
    padding: 0.7em;
    margin: 0.5em 2.5em;
    text-align: center;
    font-family: 'Inter', 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: #c73d67;
    border: 0.7em solid #c73d67, 0.5em solid blue;
}

.recipes-styling {
    position: relative;
}

.recipes-styling img:first-of-type {
    position: relative;
    display: block;
    margin: auto;
    
}

.recipes-styling img:last-of-type {
  
  position: absolute;
  top: 0.5em;
  right: 4em;
  border: 0.2em solid white;
  border-radius: 50%;
  width: 13%;
}

#feautured-recipes article h3 {
    display: block;
    width: 100vw;
    background-image
}